<% include top.ejs %>
	
	<div class="container m-t-3 p-t-3">
		<div class="row">
			<div class="card bg-primary">
				<div class="card-block">
					<div class="card-text">
						<h1 class="text-capitalize m-y-3 p-y-3 text-xs-center text-info">Product of 3Onze Creations</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<% include bottom.ejs %>