<% include top.ejs %>
<div class="container m-t-3">
	<div class="row">
		<div class="col-md-6 offset-md-6 m-b-1">
			<input type="search" name="" class="form-control" placeholder="enter name" />
		</div>
	</div>

	<% for (var i=0; i<5; i++) { %>
	<div class="row">
		
		<div class="col-md-3">
			<div class="card">
				<div class="card-block p-y-1">
					<h6 class="card-title">Adam Samuel</h6>
					<small class="card-subtitle text-muted p-b-0">0903 320 5432</small>
				</div>
				<img class="img-fluid" src="/images/adam.jpg" alt="sample_name"/>
				<div class="card-block p-y-1">
					<p class="card-text">
						Sample Address
					</p>
					<a href="#" class="card-link pull-xs-right">view</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
				<div class="card-block p-y-1">
					<h6 class="card-title">Ben Gabriel Samuel</h6>
					<small class="card-subtitle text-muted p-b-0">0903 320 5432</small>
				</div>
				<img class="img-fluid" src="/images/ben.png" alt="sample_name"/>
				<div class="card-block p-y-1">
					<p class="card-text">
						Sample Address
					</p>
					<a href="#" class="card-link pull-xs-right">view</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
				<div class="card-block p-y-1">
					<h6 class="card-title">Maxuel Adamu</h6>
					<small class="card-subtitle text-muted p-b-0">0903 320 5432</small>
				</div>
				<img class="img-fluid" src="/images/max.png" alt="sample_name"/>
				<div class="card-block p-y-1">
					<p class="card-text">
						Sample Address
					</p>
					<a href="#" class="card-link pull-xs-right">view</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
				<div class="card-block p-y-1">
					<h6 class="card-title">Mike Swanse</h6>
					<small class="card-subtitle text-muted p-b-0">0903 320 5432</small>
				</div>
				<img class="img-fluid" src="/images/mike.png" alt="sample_name"/>
				<div class="card-block p-y-1">
					<p class="card-text">
						Sample Address
					</p>
					<a href="#" class="card-link pull-xs-right">view</a>
				</div>
			</div>
		</div>
		
	</div>
	<% } %>
</div>
<% include bottom.ejs %>