<% include top.ejs %>
<div class="container m-t-3">
	<div class="row">
		<div class="col-md-6 offset-md-6 m-b-1">
			<input type="search" name="" class="form-control" placeholder="enter name" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-fluid">
				<thead>
					<tr>
						<th width="80%">
							Name
						</th>
						<th width="10%">
							<i class="fa fa-cogs"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<% for (var i=0; i<20; i++) { %>
					<tr>
						<td>Sample Name</td>
						<td><h6> <span class="tag tag-info tag-pill">10 questions</span></h6></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% include bottom.ejs %>